<script src="assets/marquee3k.min.js"></script>
<script src="assets/chartjs-plugin-annotation.min.js"></script>
<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Stocks" } %>

<div class="gridster">
  <ul>    
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="stock-marquee" data-view="Marquee" style="background-color:#111111"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <% i = 0 %>
    <% @watchlist.each do |symbol, data| %>
    <li data-row="2" data-col="<%= 2 + i %>" data-sizex="1" data-sizey="1">
      <div data-id="<%= 'stock_quote_' + symbol %>"
           data-view="Stock"
           data-name="<%= data[:company_info][:name] %>"
           data-symbol="<%= symbol %>"
           data-image="<%= data[:company_info][:logo] %>"
           style="background-color:#111111;"
           data-prefix="$"></div>
    </li>
    
    <% i += 1 %>
    <% if i == 3 then break end %>
    <% end %>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>
    
  </ul>
  <center>
</div>
