<script src="assets/marquee3k.min.js"></script>
<script src="assets/chartjs-plugin-annotation.min.js"></script>
<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Stocks" } %>

<div class="gridster">
  <ul>    
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="stock-marquee" data-view="StocksMarquee" style="background-color:#111111"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="market-status" data-view="Text" data-text="Market is closed" style="background-color:#111111;"></div>
    </li>

    <% i = 0 %>
    <% @watchlist.first(3).each do |symbol, data| %>
    <li data-row="2" data-col="<%= 2 + i %>" data-sizex="1" data-sizey="1">
      <div data-id="<%= 'stock_quote_' + symbol %>"
           data-view="Stock"
           data-name="<%= data[:company_info][:name] %>"
           data-symbol="<%= symbol %>"
           data-image="<%= data[:company_info][:logo] %>"
           style="background-color:#111111;"
           data-prefix="$"></div>
    </li>
    
    <% i += 1 %>
    <% end %>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="market-movers" data-view="StocksMovers" data-unordered="true" data-title="Market Movers"></div>
    </li>
    
    <% for i in 2..6 %>
    <% symbol = @watchlist.keys[i] %>
    <% data = @watchlist.values[i] %>
    <li data-row="3" data-col="<%= 0 + i - 2 %>" data-sizex="1" data-sizey="1">
      <div data-id="<%= 'stock_quote_' + symbol %>"
           data-view="Stock"
           data-name="<%= data[:company_info][:name] %>"
           data-symbol="<%= symbol %>"
           data-image="<%= data[:company_info][:logo] %>"
           style="background-color:#111111;"
           data-prefix="$"></div>
    </li>
    <% end %>
    
  </ul>
  <center>
</div>
